.links{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.links>a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search>img {
    width: 2.2vw;
    padding-left: 20px;
}

.search>img:hover {
    scale: 1.1;
    cursor: pointer;
}

.search>input {
    /* display: none; */
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    width: 250px;
}